{% extends "base.html" %}
{% block stylesheet %}
<style>
    body{
        background-color: white;
    }
    .login__form{
        padding-top:100px;
    }
</style>
{% endblock stylesheet %}
{% block content %}
{% include 'header.html' %}
    <div class="content-section">
        <div class="login__form">
            <div class="row">
                {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div style="padding: 5px; font-size: 13px;" class="col-md-6 m-auto text-center alert alert-{{category}}"> {{ message }}</div>
                {% endfor %}
            </div>
            <div class="row m-auto col-md-6">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forgot Password</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock content %}
